{% extends 'blooddonor/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 pt-5 pb-5">
            <div class="content-section">
                Someone asked for password reset for email {{ email }}. Follow the link below:
                {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                Your username, in case you've forgotten: {{ user.get_username }}
            </div>
                </div>
            </div>
            </div>
{% endblock content %}
